.footer{
    padding-block: 20px;
    padding-inline: auto;
    background: #3b3b3b;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    width: 100%;
}
.footer h1{
    font-size: 15px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
}

